<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoolAsia.GPSGateSOAPAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CoolAsia.GPSGateSOAPAPI.Properties.Settings>
            <setting name="GPSGateSOAPAPI_com_gpsgate_Directory" serializeAs="String">
                <value>http://loocasia.com/services/directory.asmx</value>
            </setting>
            <setting name="GPSGateSOAPAPI_com_gpsgate_geocoder_Geocoder"
                serializeAs="String">
                <value>http://loocasia.com/services/geocoder.asmx</value>
            </setting>
            <setting name="GPSGateSOAPAPI_com_gpsgate_pointsofinterest_PointsOfInterest"
                serializeAs="String">
                <value>http://loocasia.com/services/pointsofinterest.asmx</value>
            </setting>
            <setting name="GPSGateSOAPAPI_com_gpsgate_tracks_Tracks" serializeAs="String">
                <value>http://loocasia.com/services/tracks.asmx</value>
            </setting>
        </CoolAsia.GPSGateSOAPAPI.Properties.Settings>
    </applicationSettings>
</configuration>